
* {
margin: 0;
padding: 0;
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.email{
  display: flex;
  padding: 15px;
  width: 100%;
}


.title{
  margin: auto;
  width: 12%;
}
.submitbutton{
  margin: auto;
  width: 12%;
}

.emailbody{
  margin: auto;
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 10px;
}

.central{
  background-image: url("background.jpg");
  position: relative;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  margin-top: 200px;
}

.success{
    background-color: #334408;
    text-align: center;
    margin: auto;
    height: 35px;
}

#su{
  position: relative;
  font-size: 20px;
  height: 60%;
  width: 60%;
  margin: auto;
  color: white;
}
